/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
	--ion-color-primary: #f58211;
	--ion-color-primary-rgb: 245,130,17;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #d8720f;
	--ion-color-primary-tint: #f68f29;

	--ion-color-secondary: #ffa852;
	--ion-color-secondary-rgb: 255,168,82;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e09448;
	--ion-color-secondary-tint: #ffb163;

	--ion-color-tertiary: #fcd4a6;
	--ion-color-tertiary-rgb: 255,214,173;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0bc98;
	--ion-color-tertiary-tint: #ffdab5;

	--ion-color-darkGrey: #5B5044;
	--ion-color-darkGrey-contrast: #FFF7EE;

	--ion-color-lightGrey: #B8A498;
	--ion-color-lightGrey-contrast: #000000;

	--knob-size: 30px;
	--ion-text-color-rgb: #FFFFFF;
}

ion-popover {
    --width: fit-content;
}